/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
  background-image: url('img/sfondo.png');
}

/* intestazione */
header{
  height: 250px;
  margin-bottom: 10px;
  position: relative;
}

/* spazio titoli */
#intestazione{
  height: 200px;
  width: 100%;
  border: 10px solid white;
  background-image: url('img/foresta.jpg');
  position: relative;
}

#contenitore-titoli{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
}

#titolo-pagina{
  color: white;
  text-align: center;
  line-height: 1.5;
  font-size: 50px;
  font-weight: bold;
}

#sottotitolo-pagina{
  color: #E0E0E0;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
}

/* spazio navigazione */
header nav{
  height: 50px;
  background-color: rgba(0,0,0,0.5);
}


/* parte centrale */
main::after{
  content: "";
  display: table;
  clear: both;
}

/* colonna destra */
#colonna-1{
  width: 20%;
  float: left;
}

.widget-sinistra{
  margin-bottom: 10px;
  }

/* colonna centrale */
#colonna-2{
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
}

.articolo{
  background-color: white;
}

/* colonna destra */
#colonna-3{
  width: 30%;
  float: left;
}

#search{
  height: 40%;
  margin-bottom: 10px;
}

#tag{
  height: 60%;
}

/* piè di pagina */
footer{
  /* dubug */
  height: 400px;
  /* fine debug */
}

#fondo-pagina{
  border-bottom: solid 1px grey;
}

#fondo-pagina::after{
  content: "";
  display: table;
  clear: both;
}

.colonne-fondo-pagina{
  width: 20%;
  float:left;
}
#colonne-fondo-pagina2{
  width: 40%;
  float: left;
}
