/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
  background-image: url('img/sfondo.png');
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* intestazione */
#container-intestazioni{
  margin-bottom: 10px;
  position: relative;
}

/* spazio titoli */
#intestazione{
  height: 200px;
  width: 100%;
  border: 10px solid white;
  background-image: url('img/foresta.jpg');
  position: relative;
}

#contenitore-titoli{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#titolo-pagina{
  color: white;
  text-align: center;
  line-height: 1.5;
  font-size: 50px;
  font-weight: bold;
}

#sottotitolo-pagina{
  color: #E0E0E0;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
}

/* spazio navigazione */
header nav{
  height: 50px;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
}

nav ul li{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  padding-right: 6px;
}

nav ul li a{
  color: white;
}

/* parte centrale */
#colonne-tutte::after{
  content: "";
  display: table;
  clear: both;
}

/* colonna sinistra */
#colonna-1{
  width: 20%;
  float: left;
  line-height: 2.5;
}

h6{
  font-size: 18px;
  font-weight: normal;
}

.widget-sinistra ul{
  padding-left: 8px;
}

section ul li a{
  color: #99CC33;
  font-size: 15px;
}

.widget-sinistra{
  margin-bottom: 10px;
  background-color: white;
  padding: 25px;
  }

/* colonna centrale */
#colonna-2{
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
}

.articolo{
  background-color: white;
  padding: 20px;
}

.titoli-articoli{
  line-height: 1.5;
  font-weight: bold;
  font-size: 30px;
}

i{
  font-style: normal;
  font-size: 15px;
  color: grey;
}

.commenti-articoli{
  font-size: 15px;
  color: #99CC33;
  line-height: 1.5;
  /* text-decoration: none; */
}

.immagine-articolo{
  padding-top: 30px;
  height: 300px;
  width: 100%;
}

.paragrafo-articolo{
  padding-top: 20px;
  line-height: 2.0;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}

.container-fondo-articolo{
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 13px;
  color: grey;
}

.link-fondo-art{
  color: #99CC33;
}

/* colonna destra */
#colonna-3{
  width: 30%;
  float: left;
}

#search{
  margin-bottom: 10px;
  padding: 20px;
  background-color: white;
}

.ricerca{
  font-size: 15px;
  padding: 10px;
}

.ricerca:first-child{
  background-color: #f5f5f5;
  color: grey;
}

.ricerca:last-child{
  background-color: #706760;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

input[type="button"]:hover{
  background-color: black;
}

#tag{
  background-color: white;
  padding: 25px;
}

#tag ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

#tag ul li{
  display: inline-block;
}

#tag ul li a{
  font-size: 10px;
}

#tag ul li #parola-grande{
  font-size: 20px;
}

#tag ul li #parola-piu-grande{
  font-size: 30px;
}

/* piè di pagina */
#pie-di-pagina{
  background-color: white;
  margin-top: 20px;
}

#fondo-pagina{
  padding: 40px;
  border-bottom: solid 1px grey;
}

#fondo-pagina::after{
  content: "";
  display: table;
  clear: both;
}

.colonne-fondo-pagina{
  width: 20%;
  float:left;
  line-height: 2.0;
  padding-right: 40px;
}

.colonne-fondo-pagina ul li a{
  color: grey;
}

.colonne-fondo-pagina ul{
  margin-left: 8px;
}

#colonne-fondo-pagina2{
  width: 40%;
  float: left;
  line-height: 2.0;
}

#colonne-fondo-pagina2 p{
  font-size: 15px;
  color: #686868;
}

#copywrite{
  padding: 60px 40px 15px 40px;
  color: #686868;
  line-height: 2.0;
  font-size: 13px;
}
